.btn{
display: flex;
justify-content: center;
}

.buttons{
    background-color: #F6511D;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 180px;
    cursor: pointer;
    margin: 20px;
  }