*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 400;
}
.centro{
    min-height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}