.cadastro{
    display: flex;
    width: 400px;
    height: 650px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10vh;
}
.cadastro label{
    font-size: 20px;
}
